<section class="text-white px-28 pt-10 h-full">
  <h1 class="text-8xl pb-6 uppercase">Star Wars</h1>
  <p class="text-xl pb-3">
    Test app, made with using
    <a href="https://swapi.dev" target="_blank" class="text-[#6464ff]">https://swapi.dev</a>
    to interact with planets <br>
    from legendary universe
  </p>
  <p class="text-xl pb-[10%]">Other features coming soon</p>
  <button
    class="bg-[#0014a0] w-[15%] h-[7%] text-2xl rounded-xl"
    (click)="goToPlanetList()"
  >
    Planet list
  </button>
</section>
